WS_IMAGE=wingsjuanka/hcsba-websocket-rust:latest
WS_CONTAINER_NAME=realtime-ws

# Puerto publicado para WebSocket en el host
WS_HOST_PORT=3001
# Puerto interno del contenedor para WebSocket
WS_CONTAINER_PORT=3001

# Puerto publicado para gRPC en el host
WS_GRPC_HOST_PORT=50051
# Puerto interno del contenedor para gRPC
WS_GRPC_CONTAINER_PORT=50051

RUST_LOG=websocket=warn
WS_BROADCAST_CAPACITY=4096
